<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form class="login-container" action="/login" method="POST">
        <div class="form-label-group">
          <label for="inputEmail">Email</label>
          <input type="text" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email" required
            autofocus>
        </div>
        <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control mb-2" placeholder="Password"
            required>
        </div>
    <p><input type="submit" value="Log in"></p>
  </form>
</div>